<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/style.css"></link>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <header></header>
        <main class="gallery">           
            <a class='to_index' href='index.php'>
                <i class="fas fa-angle-double-left"></i> Вернуться на главную страницу галереи
            </a>

            <h1>Галерея</h1>
     
            <div class="big_img">
                <p class="img_name">Изображение: {{ name }}</p>
                <img src='{{ pathBigImg }}{{ nameImg.address }}' alt='no foto'></a>
            </div>

        </main>
        <footer></footer>
    </div>    
</body>
</html>